
<div class="header">
  <div class="headertab ng-scope" style="
      border-bottom: #eee;
      background:#3481d8;
      border-bottom-width: thin;
      border-bottom-style: inset;">
    <div style="position: relative;">
      <div class="loginheaderlogodiv"><a><img src="https://s3-us-west-2.amazonaws.com/virtualgodown/white.png" class="headerlogoimg"><font class="headerlogoimg" style="
      color: white;
      padding-left:0px;
      margin-left:5px;
      margin-top:5px;
      " size="5" >virtualgodown</font></a>
      <sup><font style="
    font-size: 10px;
    margin-left: 5px;
    color:#61f323;">beta</font></sup>
      </div>
</div>
</div>
</div>
